*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#root{
    padding: 40px;
}

#main{
    margin:2rem 0 0 7rem;
}

#main input{
    width: 400px;
    padding: 8px;
}

.heading{
    color: rgb(110, 7, 188);
}

.quote-container{
    width: 400px;
    margin-top: 1rem;
    background-color: #e9ecef;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.5s;
}
.quote-container:hover{
    transform: scale(1.1);
}

.quote-container b{
    display: block;
    font-weight: 600;
    text-align: end;
}