li{
    font-size: 1.4rem;
    margin: 0.8rem 0;
    font-weight: 600;
}

.btn{
    margin-left: 1.6rem;
    padding: 3px 10px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.btn-inc{
    background-color: rgb(73, 122, 73);
    color: white;
}
.btn-inc:hover{
    border: 1px solid darkgreen;
    background-color: white;
    color: black;
}

.btn-dec{
    background-color: rgb(181, 100, 100);
    color: white;
}

.btn-dec:hover{
    border: 1px solid darkred;
    background-color: white;
    color: black;
}